<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285491191215-sjoqdj1o097i7m9gckoavv7het6q0iot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285491191215-sjoqdj1o097i7m9gckoavv7het6q0iot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285491191215-ms3vkbsngmcaqi3p18trm2loup96qptf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDC2cWDc-flMiYGZ5aOLeCEemh0w3JW93w</string>
	<key>GCM_SENDER_ID</key>
	<string>285491191215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatSample</string>
	<key>PROJECT_ID</key>
	<string>chat-sample-d95ae</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-sample-d95ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285491191215:ios:d90dfa29a93fa012dee35a</string>
</dict>
</plist>